:root {
  --easy: #e74c3c;
  --medium: #f1c40f;
  --strong: #1abc9c;
}

body {
  margin: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  color: #34495e;
}

.password-form-container {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

.password-form {
  width: 300px;
}

.password-label {
  color: #34495e;
  position: relative;
}

.password-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border-radius: 1px solid;
  border: 1px solid #bdc3c7;
  box-sizing: border-box;
  padding: 10px 40px 10px 10px;
}

.password-visibility-btn {
  position: absolute;
  right: 4px;
  background-color: transparent;
  border: none;
  top: 24px;
}

.password-visibility-btn:hover {
  cursor: pointer;
}

.strength-indicator {
  display: flex;
  gap: 4px;
}

.strength-indicator span {
  width: 100%;
  height: 5px;
  border-radius: 3px;
}

.password-input.outline-invalid,
.password-input.outline-easy {
  outline-color: var(--easy, #e74c3c);
}

.password-input.outline-medium {
  outline-color: var(--medium, #f1c40f);
}

.password-input.outline-strong {
  outline-color: var(--strong, #1abc9c);
}
